<div class="container">
  <h2 align="center">Current Cart<h2>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.product.title %></td>
          <td><%= number_to_currency item.price %></td>
          <td><%= item.quantity %>
          <td>
            <%= form_for item, method: :delete do |f| %>
              <%= f.submit "Remove", class:"btn btn-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot align="right">
    <tr>
      <td class="col-4">Net Amount:</td>
      <td class="col-8">
        <%= number_to_currency current_cart.net_amount %>
      </td>
    </tr>
    <tr>
      <td class="col-4">Tax:</td>
      <td class="col-8">
        <%= number_to_percentage current_cart.tax %>
      </td>
    </tr>
    <tr>
      <td class="col-4">Total Amount:</td>
      <td class="col-8">
        <%= number_to_currency current_cart.total_amount %>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
