<div class="container">
	<h1 align="center" class="header">Listing all movies</h1>
  <div align="center" >
    <div class="page_info">
      <%= page_entries_info @products %>
    </div>
    <div align="center">
    	<%= will_paginate @products %>
    </div>
  </div>
	<div class="row row-cols-1 row-cols-md-3">
		<% @products.each do |product| %>
		  <div class="col mb-4 border-info">
		    <div class="card border-info">
		      <!-- <img src="..." class="card-img-top" alt="..."> -->
		      <div class="card-body">
		        <h5 class="card-title"><%= link_to product.title, product %></h5>
		        <p class="card-text"><%= truncate(product.description, :length => 50) %>
		        	<span class="small"><%= link_to "read more", product %></span>
		        </p>
		        
		        <p class="card-text">
		        	<span><em>
		        		<% if product.category.blank? %>
		        			No category mentioned
		        		<% else %>
		        			<%= link_to product.category.category_name, product.category %>
		        		<% end %>
		        			</em></span>
		        </p>
		        <p class="btn btn-primary">Regular Price: $&nbsp<%= product.price %></p>
		        <% if product.special %>
		            <p class="btn btn-success">Special Price: $&nbsp<%= product.special %></p>
		        <% else %>
		        	<p class="btn btn-success">No Special Pricing Available</p>
		        <% end %>
		      </div>
		    </div>
		  </div>
		<% end %>
	</div>
	<div align="center">
    <%= will_paginate %>
	</div>
</div>
